<a href="https://colab.research.google.com/github/datascience-1100/Loops-in-Python/blob/main/For_Loops_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Loop Definition

In [ ]:
#For loop
print("a message")
print("a message")
print("a message")
print("a message")
print("a message")
print("a message")
print("a message")
print("a message")
print("a message")
print("a message")

a message
a message
a message
a message
a message
a message
a message
a message
a message
a message

In [ ]:
#for loop
#while loop
#range - built in
a=2
print(type(a))
print(type(range(9)))

<class 'int'>
<class 'range'>

In [ ]:
for number in range(5):
   print(number)
   print("Welcome")
#number=0
#number=1
#number=2
#number=3
#number=4

0
Welcome
1
Welcome
2
Welcome
3
Welcome
4
Welcome

In [ ]:
#start from 1 instead of zero
for i in range(1, 10):
      print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
#Include a step
for i in range(1, 10, 3):
      print(i)

1
4
7

In [ ]:
#Print number tables
for a in range (1,11):
  print('2*', a, '=', 2*a)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [ ]:
for n in range(10,0,-1):
   print(n)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for number in 'Python':
   print(number)

P
y
t
h
o
n

In [ ]:
#Indentation
for number in 'Python':
   print(number)
print('Python')

P
y
t
h
o
n
Python

In [ ]:
for number in range(5):
   print("Number", number +1)

Number 1
Number 2
Number 3
Number 4
Number 5

In [ ]:
for number in range(5):
   print("a message", number +1, (number+1)*'.')

a message 1 .
a message 2 ..
a message 3 ...
a message 4 ....
a message 5 .....

In [ ]:
for number in range (1,4):
   print("a message", number, number*'.')

a message 1 .
a message 2 ..
a message 3 ...

In [ ]:
for number in range (2, 20, 2):
   print("a message", number, number*'.')

a message 2 ..
a message 4 ....
a message 6 ......
a message 8 ........
a message 10 ..........
a message 12 ............
a message 14 ..............
a message 16 ................
a message 18 ..................

In [ ]:
#On list
for x in [1,2,3,4]:
  print(x)

1
2
3
4

In [ ]:
#On String
names= ['Sansa', 'Arya', 'Jon']
for a in names:
  print(a)

Sansa
Arya
Jon

In [ ]:
#Square each values of the list
numbers= [2,3,5,-2,-10]
for i in numbers:
   print(i**2)

4
9
25
4
100

In [ ]:
#On tuple
for x in (1,2,3,4):
  print(x)

1
2
3
4

In [ ]:
#On Set
for x in {1,2,3,4}:
  print(x)

1
2
3
4

In [ ]:
#1+2+3+4+5
sum=0
for i in range (1,6):
      sum=sum+i
print (sum)

15

In [ ]:
#break
#continue
#pass

In [ ]:
#break
for x in range(1, 21):
  print(x)
  if(x==13):
   break

1
2
3
4
5
6
7
8
9
10
11
12
13

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 8, 10]

for num in numbers:
    if num == 6:
        print("Number 6 found!")
        break

In [ ]:
#for-else with break statement

numbers = [1, 2, 3, 4, 5, 6]
for num in numbers:
    if num == 6:
        print("Number 6 found!")
        break
else:
    print("Number 6 not found in the list.")

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
for num in numbers:
    if num == 9:
        print("Number 9 found!")
        break
else:
    print("Number 9 not found in the list.")

In [ ]:
#Continue Statement
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 == 0:
        continue
    print(f"Odd number: {num}")

Odd number: 1
Odd number: 3
Odd number: 5

In [ ]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 == 0:
        pass
    else:
        print(f"Odd number: {num}")

In [ ]:
#break statement exits a loop
#continue skips the rest of the code
#pass means null operation i.e. no action required

In [ ]:
#Count total even numbers
count=0
for i in range (1, 10):
    if i%2==0:
       print(i)
       count=count+1

print("Total even numbers=", count)

2
4
6
8
Total even numbers= 4

In [ ]:
#Nested Loop
for x in range(5):
  for y in range (3):
     print(x,y)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [ ]:
for i in range(1, 6):  # Outer loop
    for j in range(1, i + 1):  # Inner loop
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1, 10):  # Outer loop for rows
    for j in range(1, 10):  # Inner loop for columns
        print(i,'*',j, '=', i*j)
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81