In [ ]:
#Loop Definition

In [2]:
#For loop
print("a message")

a message

In [ ]:
#range - built in
a=2
print(type(a))
print(type(range(6)))

In [34]:
for number in range(5):
   print(number)

0
1
2
3
4

In [36]:
#start from 1 instead of zero
for i in range(1, 10):
      print(i)

1
2
3
4
5
6
7
8
9

In [37]:
#start from 1 instead of zero
for i in range(1, 10,2):
      print(i)

1
3
5
7
9

In [46]:
for a in range (1,11):
  print('2*', a, '=', 2*a)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [48]:
for n in range(10,0,-1):
   print(n)

10
9
8
7
6
5
4
3
2
1

In [16]:
for number in 'Python':
   print(number)

P
y
t
h
o
n

In [18]:
#Indentation
for number in 'Python':
   print(number)
print('Python')

P
y
t
h
o
n
Python

In [5]:
for number in range(5):
   print("Number", number +1)

a message 1
a message 2
a message 3
a message 4
a message 5

In [6]:
for number in range(5):
   print("a message", number +1, (number+1)*'.')

a message 1 .
a message 2 ..
a message 3 ...
a message 4 ....
a message 5 .....

In [7]:
for number in range (1,4):
   print("a message", number, number*'.')

a message 1 .
a message 2 ..
a message 3 ...

In [10]:
for number in range (2, 20, 2):
   print("a message", number, number*'.')

a message 2 ..
a message 4 ....
a message 6 ......
a message 8 ........
a message 10 ..........
a message 12 ............
a message 14 ..............
a message 16 ................
a message 18 ..................

In [19]:
#On list
for x in [1,2,3,4]:
  print(x)

1
2
3
4

In [49]:
names= ['Sansa', 'Arya', 'Jon']
for name in names:
  print(name)

Sansa
Arya
Jon

In [50]:
numbers= [2,3,5,-2,-10]
for i in numbers:
   print(i**2)

4
9
25
4
100

In [20]:
#On tuple
for x in (1,2,3,4):
  print(x)

1
2
3
4

In [22]:
#On Set
for x in {1,2,3,4}:
  print(x)

1
2
3
4

In [45]:
#1+2+3
sum=0
for i in range (1,4):
      sum=sum+i
print (sum)

6

In [ ]:
#break
#continue
#pass

In [70]:
#break
for x in range(1, 21):
  print(x)
  if(x==13):
   break

1
2
3
4
5
6
7
8
9
10
11
12
13

In [65]:
numbers = [1, 2, 3, 4, 5, 6, 8, 10]

for num in numbers:
    if num == 6:
        print("Number 6 found!")
        break

Number 6 found!

In [59]:
#for-else with break statement

numbers = [1, 2, 3, 4, 5, 6]
for num in numbers:
    if num == 6:
        print("Number 6 found!")
        break
else:
    print("Number 6 not found in the list.")

Number 6 found!

In [64]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 == 0:
        continue
    print(f"Odd number: {num}")

Odd number: 1
Odd number: 3
Odd number: 5

In [71]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 == 0:
        pass
    else:
        print(f"Odd number: {num}")

Odd number: 1
Odd number: 3
Odd number: 5

In [56]:
#Count total even numbers
count=0
for i in range (1, 10):
    if i%2==0:
       print(i)
       count=count+1

print("Total even numbers=", count)

2
4
6
8
Total even numbers= 4

In [12]:
#Nested Loop
for x in range(5):
  for y in range (3):
     print(x,y)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [ ]:
for i in range(1, 4):  # Outer loop
    for j in range(1, i + 1):  # Inner loop
        print(j, end=" ")
    print()

In [79]:
for i in range(1, 3):  # Outer loop for rows
    for j in range(1, 10):  # Inner loop for columns
        print(i,'*',j, '=', i*j)
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18